<div class="form-area">
  <h1>{{topic}}</h1><br><br>
  <input type="text" placeholder="Post Title" [(ngModel)] ="postTitle"/><br><br>
  <textarea cols="30" rows="10" placeholder="Post Details" [(ngModel)]="postDetails"></textarea><br><br>
   <input type="text" placeholder="Post Image URL"[(ngModel)]="imageUrl"/><br><br>
   <input type="text" placeholder="Post URL" [(ngModel)]="postUrl"/><br><br>
   <input type="checkbox" [(ngModel)]="addBackground"> Add Background

</div>
<div class="preview-area">

  <img [src]="imageUrl" alt="">

  <a [href]="postUrl" target="_blank" [style.display]="postUrl ?'block':'none'">More Details</a>

<h1 ><span [class.add-background]="addBackground">{{postTitle}}</span></h1>

<p>{{postDetails}}</p>

</div>
